#no-more-tables img
{
    width: 100px;
    padding: 8px 0;
}
#no-more-tables td
{
    padding:8px;
}
@media only screen and (max-width:800px) {
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
    display: block;
    }
        #no-more-tables td .d-flex input
        {
            width: 70px;
        }
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-table tr {border: 1px solid #ccc;}

    #no-more-table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }
    
    #no-more-table td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    #no-more-table td:before {content: attr(data-title);}
}